<!--login modal-->
<div id="loginModal" class="modal show" tabindex="-1" role="dialog" aria-hidden="true">
	<div class="modal-dialog">
		<div class="modal-content">
			<div class="modal-header">
				<h1 class="text-center">Crear Usuario</h1>
			</div>
			<div class="modal-body">
				<form class="form col-md-12 center-block">
					<div class="form-group">
						<input type="text" class="form-control input-lg" placeholder="Nombre ">
					</div>
					<div class="form-group">
						<input type="text" class="form-control input-lg" placeholder="Correo Electrónico ">
					</div>
					<div class="form-group">
						<input type="text" class="form-control input-lg" placeholder="RFC ">
					</div>
					<div class="form-group">
						<input type="text" class="form-control input-lg" placeholder="Empresa ">
					</div>
					<div class="form-group">
						<input type="password" class="form-control input-lg" placeholder="Contraseña">
					</div>
					<div class="form-group">
						<input type="password" class="form-control input-lg" placeholder="Confirmar Contraseña">
					</div>
					<div class="form-group">
                        <button id="btnCrearUsuario" name="btnCrear" type="button" class="btn btn-primary btn-block">Crear Usuario</button>
                    </div>
				</form>
			</div>
			<div class="modal-footer">
				<div class="col-md-12">
					<%= link_to 'Regresar', controller: 'auth', :action => 'singin' %>			
				</div>
			</div>
		</div>
	</div>
</div>